<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/Reset/css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header id="header">
        <div id="banner">
            Haber Portal
        </div>
        <nav id="menu">
            <ul>
                <li>@Html.ActionLink("Admin", "Index", "Home", new { area = "Admin" }, null)</li>
                <li>@Html.ActionLink("ANA SAYFA", "Index")</li>
                <li>@Html.ActionLink("YAZARLAR", "Yazarlar")</li>
                <li>@Html.ActionLink("GÜNDEM", "Index")</li>
                <li>@Html.ActionLink("EKONOMİ", "Index")</li>
                <li>@Html.ActionLink("SPOR", "Index")</li>
                <li>@Html.ActionLink("EĞİTİM", "Index")</li>
                <li>@Html.ActionLink("DÜNYA", "Index")</li>
                <li>@Html.ActionLink("AİLE-SAĞLIK", "Index")</li>
                <li>@Html.ActionLink("KÜLTÜR", "Index")</li>
                <li>@Html.ActionLink("POLİTİKA", "Index")</li>
                <li>@Html.ActionLink("FOTOĞRAF", "Index")</li>
                <li>@Html.ActionLink("MAGAZİN", "Index")</li>
            </ul>
        </nav>
    </header>
    <div id="body">
        @RenderBody()
    </div>
    <footer id="footer">
        footer
   
    </footer>
    @RenderSection("scripts", required: false)
</body>
</html>
