<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/Reset/css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header id="header">
        <nav id="menu">
            <ul>
                <li>@Html.ActionLink("Ana Sayfa", "Index", "Home")
                </li>
                <li>@Html.ActionLink("Yazarlar", "Yazarlar", "Yazar")
                </li>
                <li>@Html.ActionLink("Künye", "Kunye", "Home")
                </li>
                <li>@Html.ActionLink("İletişim", "Iletisim", "Home")
                </li>
            </ul>
        </nav>
        <div id="banner">
            @Html.ActionLink("HABER PORTAL", "Index", "Home")
        </div>
        <nav id="menu">
            @Html.Action("AnaMenu", "Home")
        </nav>
    </header>
    <div id="body">
        @RenderBody()
    </div>
    <footer id="footer">
        footer
   
    </footer>
    @RenderSection("scripts", required: false)
</body>
</html>
