@model HaberPortal.Domain.DomainModel.Haber
@{
    ViewBag.Title = Model.Baslik;
}

<div class="haber_detay">
    <div class="haber_detay_icerik">
        <div class="haber">
            <div class="detay_baslik">
                @Html.DisplayFor(model => model.Baslik)
            </div>
            <div class="detay_resim">
                <img src="~/@Model.BuyukProfilResim" />
            </div>
            <div class="detay_tarih">
                @Html.Label("Yayınlanma Tarihi") : 
            @Model.YayinlanmaTarihi.Value.ToString("d MMMM yyyy - HH:mm")
            </div>
            <article class="detay_aciklama">
                @Html.DisplayFor(model => model.Aciklama)
            </article>
            <article class="detay_icerik">
                @Html.Raw(Model.Icerik)
            </article>
        </div>
    </div>
    <div class="haber_detay_sag_menu">
    </div>
</div>
