@{
    ViewBag.Title = "Index";
}

<script src="@Url.Content("~/Scripts/AnaSayfa.js")"></script>
<section class="vitrin">
    <aside class="vitrin_sol">
        @Html.Action("VitrinSol")
    </aside>
    <div class="vitrin_orta">
        @Html.Action("VitrinOrta")
    </div>
    <aside class="vitrin_sag">
        @Html.Action("VitrinSag")
    </aside>
</section>
<section class="icerik">
    <aside class="icerik_sol">
        <div class="kategori_haberler">
            @Html.Action("KategoriHaberler")
        </div>
    </aside>
    <aside class="icerik_sag">
        <div class="en_cok_okunanlar">
            @Html.Action("EnCokOkunanHaberler")
        </div>
    </aside>
</section>
